@import '../../colours.scss';

.subtitle-underlined {
  color: $grey3;
  border-bottom: 1px solid $grey9;
  padding-bottom: 1em;
}
.edit-profile-wrapper {
  padding: 1em;
  
}

.edit-block-blurb {
  color: $grey5;
}

.edit-profile-block {
  margin: 3em 0;
  padding: 1em;
}

.edit-profile-block form {
  padding: 0;
  margin: 0;
}

.edit-profile-col1 {
  width: 325px;
}

.edit-profile-col2 {
  width: 975px;
  margin: 0 3em;
}