@import '../../colours';

.btn {
  min-width: 206px;
  height: 52px;
  border-radius: 5px;
  font-size: 1rem;
  border: none;
  transition: all 0.1s ease;
  padding: 1em;
}

.btn-primary {
  background-color: $green4;
  color: white;
  font-weight: bold;

}

.btn-secondary {
  background-color: white;
  color: $green4;
  font-weight: 400;
  padding: 1em;
  &:hover {
    box-shadow: 0px 2px 15px rgba($green4, 0.5);
    background-color: $green4;
    color: white;
  }
}

.btn-danger {
  background-color: white;
  color: $danger;
  font-weight: 400;
  padding: 1em;
  &:hover {
    box-shadow: 0px 2px 15px rgba($danger, 0.5);
    background-color: $danger;
    color: white;
  }
}

.btn-message {
  background-color: transparent;
  border: none;
  font-size: 1.3rem;
  background: red;
  padding: 0 1em;
  height: 100%;
  background-color: $green5;
  border-radius: 3px;
  margin: 0 0.5em;

  i {
    color: white;
  }
}