@import '../../colours';

.btn {
  min-width: 206px;
  height: 52px;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
}

.btn-primary {
  background-color: $green4;
  color: white;
}