@import '../../colours';

.btn {
  min-width: 175px;
  width: 100%;
  height: 52px;
  border-radius: 5px;
  font-size: 1rem;
  border: none;
  transition: all 0.1s ease;
  padding: 1em;
  max-width: 216px;

}

.btn-primary {
  background-color: $green4;
  color: white;
  font-weight: bold;
}

.btn-secondary {
  background-color: white;
  color: $green4;
  font-weight: 400;
  padding: 1em;

  &:hover {
    box-shadow: 0px 2px 15px rgba($green4, 0.5);
    background-color: $green4;
    color: white;
  }
}

.btn-danger {
  background-color: white;
  color: $danger;
  font-weight: 400;
  padding: 1em;

  &:hover {
    box-shadow: 0px 2px 15px rgba($danger, 0.5);
    background-color: $danger;
    color: white;
  }
}

.btn-minimal {
  background-color: transparent;
  border: 2px solid $grey7;
  color: $grey7;

  &:hover {
    background-color: $grey7;
    color: white;
  }
}

.btn-message {
  background-color: transparent;
  border: none;
  font-size: 1.3rem;
  background: red;
  padding: 0 1em;
  height: 100%;
  background-color: $green5;
  border-radius: 3px;
  margin: 0 0.5em;

  i {
    color: white;
  }
}

.btn-small {
  background: transparent;
  border: 1.5px solid $grey3;
  padding: 0.5em 1em;
  border-radius: 3px;
  color: $grey3;
  font-weight: bold;
  margin: 0.5em;
  &:hover {
    background: $grey3;
    color: white;
  }
}

.mx-w-216 {
  max-width: 216px;
}

.btn-no-style {
  background: transparent;
  color: $grey4;
  font-weight: bold;
  border: none;
  font-size: 1rem;
  white-space: nowrap;
}

.btn.disabled {
  background-color: $grey7;
  cursor: not-allowed;
}