@import '../../colours.scss';

.autocomplete-wrapper {
  position: absolute;
  top: 4.5em;
  background: white;
  border-radius: 5px;
  width: 100%;
  border: 2px solid $grey10;
  box-shadow: 0px 2px 15px rgba(black, 0.1);
  padding: 0.5em;

  p {
    margin: 0.4em;
  }
}

.autocomplete-title {
  color: $grey4;
}

.autocomplete-subtitle {
  color: $grey7;
}

