@import '../../colours.scss';

.header-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid $grey10;
  background-color: white;
  h1 {
    font-size: 1.5rem;
  }
}