@import './assets/atomic/main';
@import './colours';

body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: white;
  font-size: 16px;
  * {
    box-sizing: border-box;
  }
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.8em;
}
.center {
  margin-left: auto;
  margin-right: auto;
}

.no-padding {
  padding: 0 !important;
}
.title {
  color: $grey4;
}

.subtitle {
  color: $grey6;
}

.thin {
  font-weight: 300;
}

.bold {
  font-weight: 700;
}

.container {
  max-width: 1300px;
  width: 100%;
}

.br-8 {
  border-radius: 8px;
}

.bs {
  box-shadow: 0px 2px 15px rgba(black, 0.05);

}

.bg-white {
  background-color: #fff;
}
.hr {
  width: 100%;
  border: none;
  height: 1px;
  margin: 2em 0 ;
  background-color: $grey9;
} 
.story-list-wrapper {
  width: 100%;
  margin-top: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fill, 360px);
  grid-auto-flow: row;
  row-gap: 10px;
  column-gap: 10px;
}

.avatar {
  height: 120px;
  width: 120px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid white;
  box-shadow: 0px 2px 10px rgba(black, 0.4);
}

.danger-icon {
  color: $danger;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
  
  &:hover {
    background: $danger;
    color: white;
  }
}