@import '../../colours';

.form {
  width: 100%;
  max-width: 600px;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1.5em;
}

.form-wide {
  max-width: 800px;
}
.form-light {
  background-color: white;
  box-shadow: 0px 2px 15px rgba(black, 0.10);
  border-radius: 8px;
  
}

.field-group {
  display: flex;
  flex-direction: column;
  margin: 1.5em 0;
}

.form-subtitle {
  font-size: 1.5rem;
  color: $grey2;
}

.form-subtitle.mt-large {
  margin-top: 3em;
}

.form-title {
  color: $grey1;
  text-align: center;
}